<% 
let stsRange = 1;
if(orderData.delivery_status.delivered.state){ 
    stsRange = 4
}else if(orderData.delivery_status.out_for_delivery.state){
    stsRange = 3
 }else if(orderData.delivery_status.shipped.state){  
    stsRange = 2
}else if(orderData.delivery_status.ordered.state){  
    stsRange = 1
} %> 

<div class="content-wrapper container">
  <div id="prodResponse"></div>
  <div class="container bg-secondary my-2">
    <div class="d-flex justify-content-between mb-0">
      <h2 class="text-white p-0">Order Management</h2>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-11 col-md-4 my-1 p-0">
      <div class="card border-0 ad-box-shadow p-0">
        <div class="card-header">Status</div>
        <div class="card-body">
          <form
            action="/admin/order/updateSTS"
            method="post"
            onsubmit="submitData('stsRangeUpdate');return false"
            id="stsRangeUpdateForm"
          >
            <label for="customRange3" class="form-label"
              >Update Order Status</label
            >
            <div id="textBubble" class="text-warning bolder"></div>
            <input type="hidden" name="id" value="<%= orderData._id %>" />
            <input
              type="range"
              class="form-range"
              min="1"
              max="4"
              step="1"
              id="customRange3"
              value="<%= stsRange %>"
              name="sts"
              onchange="showButtonAndTextBubble(this.value)"
              <%
              if(orderData.delivery_status.cancelled.state){
              %
            />
            disabled <% } %> >
            <div class="d-flex justify-content-between">
              <!-- <p id="p1">Ordered</p>
                        <p>Shipped</p>
                        <p>Out For Delivery</p>
                        <p>Delivered</p> -->
            </div>
            <button
              class="btn btn-sm btn-primary w-100"
              id="stsRangeUpdateBtn"
              style="display: none"
              type="submit"
            >
              UPDATE
            </button>
            <div id="stsRangeUpdateResponse"></div>
          </form>
          <table class="table table-striped" id="myTable">
            <% if(orderData.delivery_status.cancelled.state){ %>
            <tr title="<%= orderData.delivery_status.cancelled.date%>">
              <td>
                <b>CANCELLED</b>
              </td>
              <td>
                <%= orderData.delivery_status.cancelled.date.getDate() %>/<%=
                orderData.delivery_status.cancelled.date.getMonth()+1 %>/<%=
                orderData.delivery_status.cancelled.date.getFullYear() %>
              </td>
            </tr>

            <% } if(orderData.delivery_status.delivered.state){ %>
            <tr title="<%= orderData.delivery_status.delivered.date%>">
              <td>
                <b>DELIVERED</b>
              </td>
              <td>
                <%= orderData.delivery_status.delivered.date.getDate() %>/<%=
                orderData.delivery_status.delivered.date.getMonth()+1 %>/<%=
                orderData.delivery_status.delivered.date.getFullYear() %>
              </td>
            </tr>

            <% } if(orderData.delivery_status.out_for_delivery.state){ %>

            <tr>
              <td
                title="<%= orderData.delivery_status.out_for_delivery.date %>"
              >
                <b>OUT_FOR_DELIVERY</b>
              </td>
              <td>
                <%= orderData.delivery_status.out_for_delivery.date.getDate()
                %>/<%=
                orderData.delivery_status.out_for_delivery.date.getMonth()+1
                %>/<%=
                orderData.delivery_status.out_for_delivery.date.getFullYear() %>
              </td>
            </tr>

            <% } if(orderData.delivery_status.shipped.state){ %>
            <tr title="<%= orderData.delivery_status.shipped.date%>">
              <td>
                <b>SHIPPED</b>
              </td>
              <td>
                <%= orderData.delivery_status.shipped.date.getDate() %>/<%=
                orderData.delivery_status.shipped.date.getMonth()+1 %>/<%=
                orderData.delivery_status.shipped.date.getFullYear() %>
              </td>
            </tr>

            <% } if(orderData.delivery_status.ordered.state){ %>
            <tr title="<%= orderData.delivery_status.ordered.date%>">
              <td>
                <b>ORDERED</b>
              </td>
              <td>
                <%= orderData.delivery_status.ordered.date.getDate() %>/<%=
                orderData.delivery_status.ordered.date.getMonth()+1 %>/<%=
                orderData.delivery_status.ordered.date.getFullYear() %>
              </td>
            </tr>

            <% } %>
          </table>
        </div>
      </div>
      <div class="card border-0 ad-box-shadow p-0 my-2">
        <div class="card-header">User Details</div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <td>Name</td>
              <td>
                <%= orderData.userid.name %>
                <small><%= orderData.userid.email %></small>
              </td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>
                <a href="mailto:<%= orderData.userid.email %>"
                  ><%= orderData.userid.email %></a
                >
                |
                <a href="tel:91<%= orderData.userid.mobile %>"
                  ><%= orderData.userid.mobile %></a
                >
              </td>
            </tr>
            <tr>
              <td>Status</td>
              <td><%= orderData.userid.isVerified %></td>
            </tr>
            <tr>
              <td>Role</td>
              <td><%= orderData.userid.role %></td>
            </tr>
          </table>
        </div>
      </div>
      <% if(orderData.payment.payment_status =='pending'){%>
      <div class="card border-0 ad-box-shadow p-0 my-2">
        <div class="card-body p-0">
          <form
            action="/admin/order/codpaid"
            method="post"
            class="d-flex justify-content-between p-2 align-items-center"
            id="paymentUpdationForm"
            onsubmit="submitData('paymentUpdation');return false"
          >
            <input type="hidden" name="id" value="<%= orderData._id%>" />
            <p class="fw-bold m-0">Got Payment ?</p>
            <button
              class="btn btn-success"
              id="paymentUpdationBtn"
              type="button"
              onclick="confirmPaid()"
              <%
              if(orderData.delivery_status.cancelled.state){
              %
            >
              disabled <% } %> >Yes, Paid!
            </button>
          </form>
          <div id="paymentUpdationResponse"></div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="col-11 col-md-7 my-1 p-0">
      <div class="card w-100 border-0 ad-box-shadow p-0">
        <div class="card-header">Ordered Items</div>
        <div class="card-body">
          <% let subTotalBill = 0; orderData.products.forEach(el => { %>
          <div
            class="border border-dark d-flex p-1 justify-content-between align-items-center flex-wrap flex-md-nowrap mb-1"
          >
            <img
              src="/productimages/<%= el.product_id.image[0] %> "
              alt=""
              class="object-fit-cover"
              style="width: 100px; height: 100px"
            />
            <p class="h6"><%= el.brand %></p>
            <div class="text-center p-2">
              <p class="p-0 m-0">
                <%= el.qnty %> x <%= el.size %> (&#8377;<%= el.price %>)
              </p>
              <p class="fw-bold text-success">&#8377;<%= el.qnty*el.price %></p>
            </div>
          </div>

          <% subTotalBill+= el.qnty*el.price; }); %>
        </div>
      </div>
      <div class="card w-100 border-0 ad-box-shadow p-0 my-2">
        <div class="card-header">Bill Details</div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-lg-6">
              <% let totalBill if(orderData.coupen.ptype=='inr'){ totalBill =
              orderData.bill_amount-orderData.coupen.discount }else{ totalBill =
              orderData.bill_amount-((orderData.bill_amount*orderData.coupen.discount)/100)
              } %>
              <table class="table table-striped">
                <tr>
                  <td>Sub-total</td>
                  <td>&#8377;<%= subTotalBill %></td>
                </tr>
                <tr>
                  <td>Items</td>
                  <td><%= orderData.products.length %></td>
                </tr>
                <tr>
                  <td>Discount</td>
                  <td>
                    <% if(orderData.coupen.ptype=='inr'){ %> &#8377;<%}else{
                    %>&percnt;<%} %><%= orderData.coupen.discount %>
                  </td>
                </tr>
                <tr>
                  <td>Rounding Off</td>
                  <td><%= totalBill-Math.round(totalBill) %></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>
                    <b class="text-success fw-bold"
                      >&#8377;<%= Math.round(totalBill) %>
                    </b>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-12 col-lg-6">
              <table class="table table-striped">
                <tr>
                  <td>Payment Status</td>
                  <td><%= orderData.payment.payment_status %></td>
                </tr>
                <tr>
                  <td>Payment method</td>
                  <td>
                    <% if(orderData.payment.payment_method=='razorpay'){ %>
                    online_payment<%}else{ %> <%=
                    orderData.payment.payment_method %> <% }%>
                  </td>
                </tr>
                <tr>
                  <td>Payment id</td>
                  <td><%= orderData.payment.payment_id %></td>
                </tr>
                <tr>
                  <td>Order id</td>
                  <td><%= orderData._id %></td>
                </tr>
                <tr>
                  <td>Coupon</td>
                  <td>
                    <% if(orderData.coupen.discount>0) {%> <%=
                    orderData.coupen.name %>
                    <small> (<%= orderData.coupen.code %>)</small>
                    <% }else{ %> no_coupon <% } %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100 border-0 ad-box-shadow p-0 my-2">
        <div class="card-header">Delivery Details</div>
        <div class="card-body">
          <div class="border p-2">
            <h5 class="text-secondary border-bottom py-2 mb-2">
              Delivery Address
            </h5>
            <div class="bg-light p-2">
              <p>
                Name: <b><%= orderData.address.name %></b>, <br />
                Address:
                <b
                  ><%= orderData.address.house %>, <%= orderData.address.post
                  %>, <%= orderData.address.city %>, <%=
                  orderData.address.district %>, <%= orderData.address.state
                  %>,</b
                >
                <br />
                pin: <b><%= orderData.address.pin %></b> <br />
                Contact: <b><%= orderData.userid.mobile%></b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // $(document).ready(function () {
  //     $('#myTable').dataTable();
  // });

  function confirmPaid() {
    Swal.fire({
      title: "Are you sure?",
      text: "You are confirming that @<%= orderData.userid.name %> paid the bill!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, paid!",
    }).then((result) => {
      if (result.isConfirmed) {
        $("#paymentUpdationForm").submit();
      }
    });
  }
  /********************
   * AJAX
   * *************/
  function submitData(id) {
    let btn_data = $("#" + id + "Btn").html();
    $("#" + id + "Btn")
      .html("Loading...")
      .prop("disabled", true);

    $.ajax({
      type: "POST",
      url: $("#" + id + "Form").attr("action"),
      data: $("#" + id + "Form").serialize(),
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
      $("#" + id + "Btn")
        .html(btn_data)
        .prop("disabled", false);
      if (data.success == true) {
        resHTML =
          '<div class="alert alert-success alert-dismissible"> ' +
          '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>' +
          "<strong>Success!</strong> " +
          data.message +
          "</div>";
        $("#" + id + "Btn").hide();
      } else {
        resHTML =
          '<div class="alert alert-danger alert-dismissible"> ' +
          '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>' +
          "<strong>Error!</strong> " +
          data.message +
          "</div>";
      }
      $("#" + id + "Response").html(resHTML);
    });

    event.preventDefault();
  }
  var timeoutId = null;

  function showButtonAndTextBubble(value) {
    // show or hide the button based on the value of the range input
    $("#stsRangeUpdateBtn").show();

    clearTimeout(timeoutId);
    timeoutId = setTimeout(function () {
      $.ajax({
        type: "GET",
        url: "/admin/getTextBubble",
        data: { value: value },
        success: function (text) {
          $("#textBubble").html(text);
        },
      });
    }, 300);
  }
</script>
