<script src="https://www.paypal.com/sdk/js?client-id=AfnyfpmlhbztfrjgiKVRAJJmpS69OHXRcb46h24UPllgVhCpvvh_6CEvMD2O2qjkkHZQhhsC_P4TMgL3&currency=USD&disable-funding=credit,card"></script>

<div id="dashResponse" style="position: fixed; top: 0;left: 0; right: 0; z-index: 99999;"></div>


    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="col-lg-12 ">

                <h1 class="pt-5 text-muted">CHECKOUT</h1>
            </div>
            <div class="row">
                <div class="col-lg-8 ">
                    
                    
                    <!-- Card Start -->
                    <div class="card mb-3 p-2" >
                        <h5 class="border-bottom text-secondary">Select Address</h5>
                        <a class="text-decoration-none text-dark "  data-bs-toggle="modal" data-bs-target="#AddressSelector" onclick="getAddresses()">
                            <div class="card p-3 bg-light my-2" id="addrs">
                                <div class="col-md-6">
                                    <p id="checkoutAddress"><b><%= userCheckout.address.name %> </b>, <%= userCheckout.address.house +', '+userCheckout.address.post +', '+userCheckout.address.city +', '+userCheckout.address.district +', '+userCheckout.address.state +', pin:'+userCheckout.address.pin +'. '  %> </p>
                                </div>
                                <small class="text-primary"><i class="bi bi-geo-alt"></i> Change</small>
                            </div>
                        </a>
                    </div>
                    <!-- Card END -->
                   
                     <!-- Card Start -->
                    <div class="card mb-3 p-2" >
                        <h5 class="border-bottom text-secondary">Coupon</h5>
                        <form action="/api/checkout/setCoupon/" method="POST" onsubmit="sendData('couponAdd','couponAdd'); return false;" id="couponAddForm">
                            <div class="border p-2 my-1">
                                <div class="input-group">
                                    <span class="input-group-text  border-dark">CODE</span>
                                    <input type="text" name="ccode" class="form-control border-dark" placeholder="Coupon Code">
                                    <input type="hidden" name="id" value="<%= userCheckout._id %>">
                                    <button class="btn btn-dark" type="submit" id="couponAddBtn">Apply</button>
                                </div>
                                <div id="couponSTS">
                                    <p class="text-muted"><i class="bi bi-info-circle-fill"></i> Use your coupon code to apply discount!</p>
                                </div>
                                <% if(userCoupons.length){ %>
                                <div class="border-dark">
                                    Available Coupons
                                    <% userCoupons.forEach((val)=>{ %>
                                    <div class="border p-2 my-1 text-success">
                                         Apply <b>"<%= val.code %>"</b> <small> to get a Discount of </small><b><%= val.discount %></b> <% if(val.pType=="inr"){ %> &#8377; <small>Min Purchase Amount: (<%= val.min_bill %>)</small><% }else{ %> &percnt; <small>(Max Purchase Amount: <%= val.min_bill %>)</small><% } %> <small>on your purchase.</small>  %>
                                        </div>
                                        <% }) %>
                                </div>
                                <% }else{ %>
                                    <div class="border-dark text-danger">
                                        All Coupons Exhausted for You
                                    </div>
                                    <% } %>


                                
                            </div>
                        </form>
                    </div>
                    <!-- Card END -->
                    <!-- Card Start -->
                    <div class="card mb-3 p-2 " id="wallet">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"><h5 class="border-bottom text-secondary">Use Your Wallet</h5></label>
                          </div>
                        <div class="border p-2 my-1">
                        
                            <div class="d-flex flex-column flex-md-row ">
                                
                               <p> Wallet Balance : </p> <h5 class="text-success bolder"> &#8377; </h5> <h5 class="text-success bolder" id="walletbalance3"> </h5>
                                 
                                
                            </div>
                        </div>
                        
                    </div>
                    <!-- Card END -->
                    <!-- Card Start -->
                    <div class="card mb-3 p-2 " id="pgatewayContainer">
                        <h5 class="border-bottom text-secondary">Choose Payment Gateway</h5>
                        <div class="border p-2 my-1">
                            <input type="hidden" name="paymentType">
                            <div class="d-flex flex-column flex-md-row justify-content-around">
                                <div class="col-11 col-md-5"  id="paypal-button-container">
                                    <!-- <span class="paymentTick"><i class="fs-5 bi bi-slash-square"></i> </span> 
                                    Online Payment -->
                                </div>
                                <div class="col-11 col-md-5 border-white fw-bolder rounded-pill bg-warning CODBtn align-middle"  role="button" id="payID2" onclick="changePayment('payID2')">
                                    <span  class="paymentTick ms-4 "><i class="fs-5 bi bi-slash-square ms-5"></i> </span> Cash on Delivery 
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Card END -->
                </div>
                <!-- col end -->
                <div class="col-lg-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-secondary border-bottom pb-3">
                                PROCEED TO PAYMENT
                            </h5>
                            <div class="border rounded p-2">
                                <div class="d-flex justify-content-between border-bottom"> 
                                    <p class="m-0 p-1">Cart items</p>
                                    <p class="m-0 p-1" id="cartItemCount3">0</p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1">Sub Total</p>
                                    <p class="m-0 p-1">&#8377;<span id="cartSubTotal3">000</span></p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1">Wallet Discount</p>
                                    <p class="m-0 p-1"><span id="cartWallet">0</span></p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1">Discount</p>
                                    <p class="m-0 p-1"><span id="cartDiscount3">0</span></p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1"> Rounding Off</p>
                                    <p class="m-0 p-1"><span id="cartRoundOff3">0</span></p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1"> Total Price</p>
                                    <p class="m-0 p-1">&#8377;<span id="cartTotal3">000</span></p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom">
                                    <p class="m-0 p-1"> Total Price in USD</p>
                                    <p class="m-0 p-1">$<span id="cartTotal4">000</span></p>
                                </div>
                                <button class="btn w-100 btn-outline-dark " id="CheckoutLastBtn" onclick="checkPaymentType()">PROCEED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

     <!-- Modal -->
  <div class="modal fade" id="accountCreationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actionNameLabel" >Create address</h5>
          <div id="addrssStatusLoader"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <div id="acctnRegResponse"></div>
            <form action="/api/updateAddress/" method="POST" class="needs-validation" novalidate="" autocomplete="off" onsubmit="sendData('addressUpdation','createAddr'); return false" id="addressUpdationForm">
                <input id="AddressAction" type="hidden" class="form-control" name="action" value="create" required >
                <input id="_id" type="hidden" class="form-control" name="id" value="" required>

                <div class="mb-3">
                    <label class="mb-2 " for="name">Name</label>
                    <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                    <div class="invalid-feedback">
                        Name is required	
                    </div>
                </div>

                <div class="mb-3">
                    <label class="mb-2 " for="house">house</label>
                    <input id="house" type="text" class="form-control" name="house" value="" required>
                    <div class="invalid-feedback">
                        house is required
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 " for="post">post</label>
                    <input id="post" type="text" class="form-control" name="post" value="" required>
                    <div class="invalid-feedback">
                        post is required
                    </div>
                </div>

                <div class="mb-3">
                    <label class="mb-2 " for="city">city</label>
                    <input id="city" type="text" class="form-control" name="city" required>
                    <div class="invalid-feedback">
                        city is required
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 " for="district">district</label>
                    <input id="district" type="text" class="form-control" name="district" required>
                    <div class="invalid-feedback">
                        district is required
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 " for="state">state</label>
                    <input id="state" type="text" class="form-control" name="state" required>
                    <div class="invalid-feedback">
                        state is required
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 " for="pin">pin</label>
                    <input id="pin" type="number" class="form-control" name="pin" required>
                    <div class="invalid-feedback">
                        pin is required
                    </div>
                </div>

                <p class="form-text text-muted mb-3">
                    By registering you agree with our terms and condition.
                </p>

                <div class="align-items-center d-flex" id="addressUpdationBtnFooter">
                            
                        
                    <button type="submit" class="btn btn-primary ms-auto" id="addressUpdationBtn" onclick="">
                        Submit	
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


  
    <!-- Modal -->
<div class="modal fade" id="AddressSelector" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="actionNameLabel" >Select address</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div id="addressListingResponse">

                </div>
                <div id="addresslist">

                </div>
                <form action="/checkout/update/address" method="post" class="p-1 text-right" onsubmit="sendData('addressSave','updateAddrCheckout'); return false" id="addressSaveForm">
                    <input type="hidden" name="selectedAddress">
                    <input type="hidden" name="id" value="<%= userCheckout._id %>">
                    <button class="btn btn-sm btn-primary" style="display: none;" id="addressSaveBtn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

  <script>
    let checkoutID = "<%=userCheckout._id %>";
  </script>
<script src="/javascript/paypal.js"></script>
<!-- <script src="/javascript/js/test.js"></script> -->



      <script>

        function changePayment(id){
            $('.paymentTick').html('<i class="fs-5 bi bi-square ms-5"></i>')
            $('#'+id+' > .paymentTick').html('<i class="fs-5 bi bi-check-square ms-5"></i>')
            $('[name="paymentType"]').val(id)
        }
        function selectAddress(id){
            $('.addressListSelector').html('<span class="text-primary"><i class="bi bi-geo-alt"></i> SELECT</span>')
            $('#'+id+' > .addressListSelector').html('<span class="text-success"><i class="bi bi-check2-square ms-5"></i> SELECTED</span>')
            $('[name="selectedAddress"]').val(id)
            $('#addressSaveBtn').show()
        }
        function getAddresses(){
            $('#addressListingResponse').html('<i class="fa-solid fa-spinner fa-spin"></i> Fetching data..')
            $.ajax({
            type: "POST",
            url:  '/api/getAddressList/',
            data: {
                addressid : 'id'
            },
            dataType: "json",
            encode: true,
            }).done(function (data) {
                if(data.success==true){
                    $('#addresslist').html('')
                    data.data.addressList.forEach((val,i)=>{
                        $('#addresslist').append(`<div class="card p-3 bg-light my-2" id="addrs${val._id}" role="button" onclick="selectAddress('addrs${val._id}')">
                            <div class="col-md-6">
                                <p id=""><b>${val.name} </b>, ${val.house} , ${val.post}, ${val.city} , ${val.district} , ${val.state} , pin:${val.pin} .  </p>
                                </div>
                                <small class="addressListSelector"><span class="text-primary"><i class="bi bi-geo-alt"></i> SELECT </span></small>
                                </div>`)
                            })
                            $('#addresslist').append(`<a  class="btn btn-outline-secondary btn-sm w-100"  onclick="toggleModal('AddressSelector','hide');toggleModal('accountCreationModal','show')"><i class="bi bi-house-add-fill"></i> Add new Address</a>`)
                    
                    $("#addressListingResponse").html('')
                    
                }else{
                    resHTML = '<div class="alert alert-danger alert-dismissible"> '+
                            '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
                            '<strong>Error!</strong> '+data.message +
                            '</div>';
                    $('#addresslist').html('No Data')
                     $("#addressListingResponse").html(resHTML)
                }
            })
        }

        function sendData(id,type){
   
            let btnData = $('#'+id+'Btn').html()
            $('#'+id+'Btn').html('Updating..').prop('disabled', true);
            $.ajax({
                type: "POST",
                url:  $("#"+id+'Form').attr('action'),
                data: $("#"+id+'Form').serialize(),
                dataType: "json",
                encode: true,
            }).done(function (data) {
                if(data.success == true){
                    resHTML = '<div class="alert alert-success alert-dismissible"> '+
                    '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
                    '<strong>Success!</strong> '+data.message +
                    '</div>';
                if(type=='createAddr'){
                    toggleModal('accountCreationModal','hide')
                    toggleModal('AddressSelector','show')
                    getAddresses()
                }else if(type == 'updateAddrCheckout'){
                    toggleModal('AddressSelector','hide')
                    $('#addressSaveBtn').hide()
                }else if(type=='couponAdd'){
                    $('#couponSTS').html(`<h5 class="text-success">Coupon Appled! </h5>`)
                }
                    $("#"+id+'Form')[0].reset()
                }else{
                    resHTML = '<div class="alert alert-danger alert-dismissible"> '+
                    '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
                    '<strong>Error!</strong> '+data.message +
                    '</div>';
                }
                getCheckoutData();
                $('#'+id+'Btn').html(btnData).prop('disabled', false);
                $("#dashResponse").html(resHTML)
            });
        }

        $(document).ready(function(){
            
            $('#flexSwitchCheckDefault').on('change', function(){
                getCheckoutData()
                var check = $(this).is(':checked');
                setTimeout(() => {
            var walletAmount = parseFloat($('#walletbalance3').html());
            var totalAmount = parseFloat($('#cartTotal3').html());
            
        
        if(check){
            if(walletAmount >= totalAmount){
                var walletApply = totalAmount;
                $('#cartWallet').html(walletApply);
                totalAmount = totalAmount - walletApply;
                $('#cartTotal3').html(totalAmount);
                $('#cartTotal4').html((totalAmount * 0.0123).toFixed(2));
            } else {
                var walletApply = walletAmount;
                $('#cartWallet').html(walletApply);
                totalAmount = totalAmount - walletApply;
                $('#cartTotal3').html(totalAmount);
                $('#cartTotal4').html((totalAmount * 0.0123).toFixed(2));
            }
        } else {
            totalAmount = parseFloat($('#cartTotal3').html());
            $('#cartWallet').html(0);
            $('#cartTotal3').html(totalAmount);
            $('#cartTotal4').html((totalAmount * 0.0123).toFixed(2));
        }}, 500);
    });
});


        function getCheckoutData(){
            
            $('#pageLoader').show()
            $.ajax({
                type: "POST",
                url:  '/api/checkout/getdata',
                data: {
                    id: '<%=userCheckout._id %>'
                },
                dataType: "json",
                encode: true,
            }).done(function (data) {
            if(data.success == true){
                $('#walletbalance3').html( data.data.user.wallet)
                $('#cartItemCount3').html(data.data.order.products.length)
                $('#cartSubTotal3').html(data.data.order.bill_amount)
                $('#cartDiscount3').html(`${(data.data.order.coupen.ptype=='inr') ?`&#8377;` : `&percnt;`}${data.data.order.coupen.discount}`)
            if(data.data.order.coupen.ptype=='inr'){
                let total = data.data.order.bill_amount-data.data.order.coupen.discount
                $('#cartTotal3').html(Math.round(total))
                $('#cartTotal4').html(Math.round((total*.0123)+Number.EPSILON).toFixed(2))
                $('#cartRoundOff3').html(total-Math.round(total));
            }else{
                let total = data.data.order.bill_amount-((data.data.order.bill_amount*data.data.order.coupen.discount)/100)
                $('#cartTotal3').html(Math.round(total))
                $('#cartTotal4').html(Math.round((total*.0123)+Number.EPSILON).toFixed(2))
                $('#cartRoundOff3').html(total-Math.round(total));
            }
                $('#checkoutAddress').html(`<b>${data.data.order.address.name}</b>, ${data.data.order.address.house}, ${data.data.order.address.post}, ${data.data.order.address.city }, ${data.data.order.address.district}, ${data.data.order.address.state}, pin:${data.data.order.address.pin}. `) 
            if(0<data.data.order.coupen.discount ){
                $('#couponSTS').html(`
                    <div class="bg-success text-white d-flex p-3 my-2 align-items-center">
                        <i class="bi bi-check-circle-fill h3 mx-3 p-0 my-0"></i>
                        <div>
                            <h6 class="m-0">COUPON APPLIED</h6>
                            <p class="m-0">You got <b>${data.data.order.coupen.discount}${(data.data.order.coupen.ptype=='inr') ?`&#8377;` : `&percnt;`}</b> discount on your purchase by using the coupon "<b>${data.data.order.coupen.name}</b>". </p>
                            <span class="text-light">
                                code: ${data.data.order.coupen.code}
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-transparent text-muted btn-sm small" ><i class="bi bi-x-square"></i> Remove</button>
                `)
                // `min value is  ${(b<a && b<c) ? `b` : `${(a<c) ? `a` : `c`}`}`;
            }else{
                $('#couponSTS').html(`<p class="text-muted"><i class="bi bi-info-circle-fill"></i> Use your coupon code to apply discount!</p>`)
            }
        }
        $('#pageLoader').hide()})
        }
        
        getCheckoutData()
        
        
        
        function checkPaymentType(){
            let payType = $('[name="paymentType"]').val()
            

            if(payType == 'payID2'){ //COD
                cod()
            }else{
                $('#pgatewayContainer').addClass('border border-danger border-3') 
                setTimeout(()=>{
                    $('#pgatewayContainer').removeClass('border border-danger border-3') 
                },4000)
            }
               
        }
        let orderData={} ;

        function cod(){
            $('#CheckoutLastBtn').prop('disabled', true).html('<i class="fa-solid fa-spinner fa-spin"></i> Please wait..');
            
            let wal= parseInt($('#cartWallet').html())
            let paid =$('#cartTotal3').html()
            $.ajax({
            "url": "/api/checkout/CODapprove",
            type: "POST",
            data: {
            id:'<%=userCheckout._id %>',
            walletUsed: parseInt(wal),
            paid: parseInt(paid)
            },
            dataType: "json",
            encode: true,
        }).done(function (response) {
            if(response.success == true){
            $('#CheckoutLastBtn').prop('disabled', true).html('APPROVED!');
            $("#dashResponse").html(
            '<div class="alert alert-success alert-dismissible"> '+
            '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
            '<strong>Success!</strong> '+response.message +
            '</div>')
            successOrderPlaced()
            }else{
            $('#CheckoutLastBtn').prop('disabled', false).html('Try Again!');
            $("#dashResponse").html(
            '<div class="alert alert-danger alert-dismissible"> '+
            '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
            '<strong>Error!</strong> '+response.message +
            '</div>')
            }
        });
        }


        
        function successOrderPlaced(){
            Swal.fire(
            'Success!',
            'Your Order placed and will shipped soon!',
            'success'
            )
            $('#pageLoader').show()
            clearCart()
            .then(()=>{
                $('#pageLoader').hide()
            })
            setTimeout(()=>{
                window.location.href = '/order/<%=userCheckout._id %>';
            },1500)
        }
        var key = "947d058ea326ed43322db7cd6bf4d35822e24596";

        var currurl =  "https://api.getgeoapi.com/v2/currency/list?api_key=" + key + "&from=INR&to=USD&amount=1&format=json"

        $.getJSON(currurl, function (rate) {
        console.log(rate);
        });




        
    
      
      
    





        
        

        </script>